:root {
    --primary-farve-rgb: 0, 200, 110;
    --primary-farve-hex: #00c86e;
    --primary-farve-darker-rgb: 0, 170, 90;
    
    --bog-primary-farve-rgb: 42, 168, 250;
    --bog-primary-farve-hex: #2aa8fa;
    --bog-primary-farve-darker-rgb: 29, 99, 145;
    
    --taler-primary-farve-rgb: 255, 100, 100;
    --taler-primary-farve-hex: #ff6464
    --taler-primary-farve-darker-rgb: 191, 75, 75;
    
    --dark-gray-rgb: 52, 58, 63;
    --light-gray-rgb: 108, 117, 125;
    --opacity1: 1;
    --opacity075: 0.75;
    --opacity050: 0.50;
}

body {
    background-color: white;
    font-family: "Helvetica Neue";
    margin-left: 325px;
}

.under {
    width: 100%
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  font-size: 1.5rem;
    margin-bottom: 4rem !important;
    color: rgba(0, 0, 0, 0.75)
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.icons {
    padding-bottom: 5rem;
}

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.75rem;
  margin-right: 1.75rem;
    transition: 0.5s;
}

.social-icons .social-icon:hover {
    background-color: rgba(var(--primary-farve-rgb), var(--opacity1)) !important;
}

.social-icons2 .social-icon2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.75rem;
  margin-right: 1.75rem;
    transition: 0.5s;
}

.social-icons2 .social-icon2:hover {
    background-color: rgba(var(--bog-primary-farve-rgb), var(--opacity1)) !important;
}

.bar {
  height: 25%;
  width: 2rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  overflow-x: hidden;
  transition: 0.5s;
    padding-top: 10px;
}

.bar a {
    text-decoration: none;
    font-size: 22px;
    font-family: Stretch Pro;
    color: #ffffff;
    display: block;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    letter-spacing: 0.10rem;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(var(--primary-farve-rgb), var(--opacity1)) !important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    border-left: 2rem solid rgba(255, 255, 255, 0.2);
    vertical-align: middle;
}

.sidenav-bog {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(var(--bog-primary-farve-rgb), var(--opacity1)) !important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    border-left: 2rem solid rgba(255, 255, 255, 0.2);
    vertical-align: middle;
}

.sidenav-taler {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(var(--taler-primary-farve-rgb), var(--opacity1)) !important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    border-left: 2rem solid rgba(255, 255, 255, 0.2);
    vertical-align: middle;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17.5px;
  color: #adadad;
  display: block;
  transition: 0.3s;
    vertical-align: middle;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.navbar-img {
    text-align: center;
    vertical-align: middle;
    max-width: 10rem;
    max-height: 10rem;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 0.5rem !important;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
    border-radius: 50% !important;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
  }

.navbar-text {
    font-family: Stretch Pro;
    text-align: center;
    vertical-align: middle;
    color: rgba(225, 225, 225, 0.75) !important;
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    display: block;
    vertical-align: middle;
}

.navbar-text:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.section-1st {
    display: flex;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
}

.section-2nd {
    display: flex;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 1rem;
}

.button2 {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    border-radius: 12px;
    background-color: #33a7f5;
    padding: 1.25rem 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    transition: 0.3s;
}

.button2:hover {
  color: #000;
  background-color: #1d6391;
  border-color: #1d6391;
}

.button3 {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    border-radius: 12px;
    background-color: #ff6464;
    padding: 1.25rem 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    transition: 0.3s;
}

.button3:hover {
  color: #000;
  background-color: #bf4b4b;
  border-color: #bf4b4b;
}

.text-caps {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.stretch-pro {
    font-family: Stretch Pro;
}

.font-google {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-google-2 {
    font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.padding-1 {
    height: 2.5rem;
}

.padding-2 {
    height: 0.5rem;
}

.padding-3 {
    height: 4rem;
}

.text-white {
    color: rgba(255, 255, 255, 1) !important;
}

.text-black {
    color: rgba(0, 0, 0, 1) !important;
}

.text-gray {
    color: rgba(var(--dark-gray-rgb), var(--opacity1)) !important;
}

.text-light-gray {
    color: rgba(var(--light-gray-rgb), var(--opacity1)) !important;
}

.text-color {
    color: rgba(var(--primary-farve-rgb), var(--opacity1)) !important;
}

.text-color2 {
    color: rgba(var(--primary-farve-darker-rgb), var(--opacity1)) !important;
}

.text-color-bog {
    color: rgba(var(--bog-primary-farve-rgb), var(--opacity1)) !important;
}

.text-color-taler {
    color: rgba(var(--taler-primary-farve-rgb), var(--opacity1)) !important;
}

.text-20px {
    font-size: 20px;
}

.text-25px {
    font-size: 25px;
}

.text-50px {
    font-size: 50px;
}

.text-70px {
    font-size: 70px;
}

.text-75px {
    font-size: 75px;
}

.text-85px {
    font-size: 85px;
}

.text-100px {
    font-size: 100px;
}

.opacity0 {
    opacity: 0%
}

.divider {
    color: rgba(var(--primary-farve-rgb), var(--opacity1)) !important;
}

.upcount {
    padding-top: -500px;
}







.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}